@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><strong>Effective Date:</strong> 01.06.2024</p>

<h3>1. Introduction</h3>
<p>Your privacy is important to us. This Privacy Policy explains how QuizMVC collects, uses, and discloses information about you when you use our app.</p>

<h3>2. Information We Collect</h3>
<ul>
    <li><strong>Account Information:</strong> Email address, and password when you create an account.</li>
    <li><strong>Log Data:</strong> IP address, browser type, pages visited, and time spent on our Services.</li>
    <li><strong>Cookies:</strong> Used to track activity and hold certain information.</li>
</ul>

<h3>3. How We Use Your Information</h3>
<ul>
    <li><strong>Provide and Maintain Services:</strong> Operate, secure, and optimize our Services.</li>
    <li><strong>Communicate:</strong> Send updates and notifications related to the Services.</li>
    <li><strong>Improve Services:</strong> Understand usage and identify problems.</li>
</ul>

<h3>4. How We Share Your Information</h3>
<ul>
    <li><strong>With Your Consent:</strong> With third parties if you have given consent.</li>
    <li><strong>Legal Reasons:</strong> If required by law or to respond to valid requests.</li>
    <li><strong>Protect Rights:</strong> To protect our rights, property, or safety, or that of others.</li>
</ul>

<h3>5. Your Choices</h3>
<ul>
    <li><strong>Cookies:</strong> Set your browser to refuse cookies or indicate when a cookie is sent.</li>
    <li><strong>Access and Correction:</strong> Contact us at quizmvc@mail.to to access or correct your personal information.</li>
</ul>

<h3>6. Security</h3>
<p>We take reasonable measures to protect your information, but cannot guarantee absolute security.</p>

<h3>7. Changes to This Policy</h3>
<p>We may update this Privacy Policy from time to time. We will notify you of changes by posting the new policy on this page. Review this Privacy Policy periodically.</p>
