@model SolvingSession

@{
    ViewData["Title"] = "Results";
}

<h1>Results for @Model.QuizName</h1>
<br />

<h3>Your score: @ViewBag.Score / @Model.Questions.Count</h3>
<br />
<a asp-controller="Quizzes" asp-action="Index" class="btn btn-secondary">Back to List</a>